body {
        text-align: center;
        font-family: 'monaco';
        color:deeppink;
}

.borderline{
        border: 2px solid deeppink;
        border-radius: 10px;
        width: 70%;
        margin: 0 auto;
}